{% load staticfiles %}
{% load i18n %}
{% load bootstrap %}
<html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ ALLIANCE_NAME }} - {% trans 'Login' %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <style>
        body {
            background: url('{% static 'img/index_images/index_blank_bg.jpg' %}') no-repeat scroll;
            background-size: 100% 100%;
        }

        .panel-transparent {
            background: rgba(48, 48, 48, 0.7);
            color: #ffffff;
        }

        .panel-body {

        }
    </style>
</head>
<body>
<div class="container" style="margin-top:150px">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default panel-transparent">
            <div class="panel-body">
                <form class="form-signin" role="form" action="" method="POST">
                    {% csrf_token %}
                    <h1 class="text-center">{% trans "Password Reset" %}</h1>

                    <p class="text-center">{% trans "Forgotten your password? Enter your email below." %}</p>
                    {{ form|bootstrap }}
                    <div class="">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Reset Password' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
