{% extends "dashboard/base.html" %}
{% load i18n %}
{% load bootstrap %}
{% load staticfiles %}

{% block title %}{% trans 'Alliance Auth' %}{% endblock %}

{% block page_title %}{% trans 'Fleet Formatter Tool' %}{% endblock page_title %}
{% block extra_css %}{% endblock extra_css %}

{% block content %}
    <div class="col-lg-12">
        <h1 class="page-header text-center">{% trans 'Fleet Broadcast Formatter Tool' %}</h1>

        <div class="container-fluid">
            <div class="col-md-6 col-md-offset-3">
                <div class="row">
                    {% if generated != "" %}
                        <textarea class="form-control" rows="10" cols="60">{{ generated }}
                        </textarea>
                    {% endif %}
                    <form class="form-signin" role="form" action="" method="POST">
                        {% csrf_token %}
                        {{ form|bootstrap }}
                        <br/>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Format' %}</button>
                        <br/>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
