{% extends "dashboard/base.html" %}
{% load i18n %}
{% load bootstrap %}
{% load staticfiles %}

{% block title %}{% trans 'Alliance Auth' %} - {% trans 'SRP Request' %}{% endblock %}

{% block page_title %}{% trans 'SRP Request' %}{% endblock page_title %}
{% block extra_css %}
    <link href="{% static 'css/jquery.datetimepicker.css' %}" rel="stylesheet" type="text/css">{% endblock extra_css %}

{% block content %}

    <div class="col-lg-12">
        <h1 class="page-header text-center">{% trans 'Create SRP Request' %}</h1>

        <div class="container-fluid">
            <div class="col-md-4 col-md-offset-4">
                <div class="row">
                    {% if no_srp_code %}
                        <div class="alert alert-danger" role="alert">{% trans 'SRP Code Does Not Exist' %}</div>
                    {% else %}
                        {% if completed == False %}
                            <form class="form-signin" role="form" action="" method="POST">
                                {% csrf_token %}
                                {{ form|bootstrap }}
                                <br/>
                                <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Create SRP Request' %}
                                </button>
                            </form>
                        {% else %}
                            <div class="alert alert-success" role="alert">{% trans 'SRP Request Successfully Submitted' %}</div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>

    </div>

{% endblock content %}

{% block extra_script %}

    $('#id_fleet_time').datetimepicker({
    maskInput: true,
    format: 'Y-m-d H:i',minDate:0
    });

{% endblock extra_script %}
