{% extends "dashboard/base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load new_tags %}


{% block title %}Alliance Auth{% endblock %}
{% block page_title %}Dashboard{% endblock page_title %}

{% block content %}

{#    <div class="col-lg-12">#}
    {% if perms.auth.alliance_member %}
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header"><h3 class="box-title">{% trans 'Main character' %}</h3></div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="col-lg-5 col-sm-2"><img class="ra-avatar img-responsive" src="https://image.eveonline.com/Character/{{ authinfo.main_char_id.character_id }}_128.jpg">
                                </div>
                                <div class="col-lg-7 col-sm-2">
                                    <h4 class="">{{ authinfo.main_char_id.character_name }}</h4>
                                    <p>{{ authinfo.main_char_id.corporation_name }}</p>
                                    <p>{{ authinfo.main_char_id.alliance_name }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-header"><h3 class="box-title">{% trans 'Groups' %}</h3></div><!-- /.box-header -->
                    <div class="box-body">

                        <table id="example2" class="table table-bordered table-hover">

                            {% for group in user.groups.all %}
                                <tr>
                                    <td>
                                        <p class="">{{ group.name }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>




    {% else %}
        <p> Not part of the alliance</p>
    {% endif %}
{#    </div>#}
{% endblock content %}
