{% extends "public/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Alliance Auth' %}{% endblock %}

{% block page_title %}{% trans 'Something something here' %}{% endblock page_title %}

{% block content %}
    <div class="col-lg-12">

        <h1 class="page-header text-center">{% trans 'Help' %}</h1>

        <div class="container-fluid">
            <div class="col-md-4 col-md-offset-4">
                <div class="row">
                    <p class="text-center">
                        Contact IT
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
