{% extends "dashboard/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans 'Characters' %}{% endblock %}

{% block page_title %}{% trans 'Characters' %}{% endblock page_title %}
{% block extra_css %}{% endblock extra_css %}

{% block content %}

    <!-- Main content -->
    <section class="content">
        {% if not authinfo.main_char_id %}
            <div class="box"><div class="alert alert-danger" role="alert">{% trans 'No primary character set' %}</div></div>
        {% endif %}
        <!-- Default box -->
        <div class="row">
            {% for character in characters %}
                <div class="col-lg-6">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{ character.character_name }}</h3>
                            <div class="box-tools pull-right">
                                <a href="{% url 'eveonline.views.main_character_change' character.character_id%}">
                                    {% ifequal character.character_id authinfo.main_char_id.character_id %}
                                        <button type="button" class="btn btn-default btn-xs">
                                            {% trans 'Refresh Primary' %}
                                        </button>
                                    {% else %}
                                        <button type="button" class="btn btn-primary btn-xs">
                                            {% trans 'Make Primary' %}
                                        </button>
                                    {% endifequal %}
                                </a>
                                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="col-lg-5 col-sm-2"><img class="ra-avatar img-responsive" src="https://image.eveonline.com/Character/{{ character.character_id }}_128.jpg">
                            </div>
                            <p><strong>{% trans 'Alliance' %}: </strong> {{ character.alliance_name }} </p>
                            <p><strong>{% trans 'Corporation' %}: </strong>{{ character.corporation_name }}</p>
                            <p><strong>{% trans 'Corporation Ticker' %}: </strong> {{ character.corporation_ticker }} </p>
                        </div><!-- /.box-body -->
                        <div class="box-footer">

                        </div><!-- /.box-footer-->
                    </div>
                </div><!-- /.box -->
            {% endfor %}
        </div>
    </section><!-- /.content -->
{% endblock content %}
