{% extends "dashboard/base.html" %}
{% load i18n bootstrap staticfiles %}




{% block title %}{% trans 'Alliance Auth' %}{% endblock %}
{% block page_title %}{% trans 'Corporation Stats' %}{% endblock page_title %}

{% block content %}
    <div class="box-body">
        {% if perms.auth.alliance_member %}
            <div class="col-lg-12 container" id="example">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="box-header">{% trans 'Corporation' %}</div>
                        <div class="panel-body">
                            <div class="col-lg-5 col-sm-2"><img class="ra-avatar img-responsive" src="https://image.eveonline.com/Corporation/{{ corp.corporation_id }}_128.png">
                            </div>
                            <div class="container">
                                <h4 class="">{% trans 'Name' %}: {{ corp.corporation_name }}</h4>
                                <p>{% trans 'Ticker' %}: {{ corp.corporation_ticker }}</p>
                                <p>{% trans 'Member' %}: {{ corp.member_count }}</p>
                                <p>{% trans 'Total Authed Members' %}: {{ currentCount }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="box">
                <div class="box-header">{% trans 'Registered Characters' %}
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id ="characters" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th class="text-center">{% trans 'Character Name' %}</th>
                            <th class="text-center">{% trans 'Actions' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key,value in characters.items %}
                            <tr>
                                <td class="text-center">
                                    <p class="">{{ key }}</p>
                                </td>
                                <td class="text-center">
                                    {% if value %}
                                        <a href="{{ JACK_KNIFE_URL }}?usid={{ value.api_id }}&apik={{ value.api_key }}"
                                           target="_blank">
                                            <button type="button" class="btn btn-primary">{% trans 'API JackKnife' %}
                                            </button>
                                        </a>
                                    {% else %}
                                        <button type="button" class="btn btn-warning" disabled="disabled">{% trans 'None Api' %}
                                        </button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tfoot>
                    </table>
                </div>

        {% else %}
            <p>{% trans 'Not part of the alliance' %}</p>
            </div>
        {% endif %}
{% endblock content %}

{% block extra_script %}
    <!-- DataTables -->
    <script src={% static "adminlte/plugins/datatables/jquery.dataTables.min.js" %}></script>
    <script src={% static "adminlte/plugins/datatables/dataTables.bootstrap.min.js" %}></script>
    <!-- SlimScroll -->
    <script src={% static "adminlte/plugins/slimScroll/jquery.slimscroll.min.js" %}></script>
    <!-- FastClick -->
    <script src={% static "adminlte/plugins/fastclick/fastclick.min.js" %}></script>
    <!-- AdminLTE App -->
    <script src={% static "adminlte/dist/js/app.min.js" %}></script>
    <!-- AdminLTE for demo purposes -->
    <script src={% static "adminlte/dist/js/demo.js" %}></script>

    {% verbatim %}
    <script>
        $(function () {
            $("#characters").DataTable(
                    {
                        "paging": true,
                        "lengthChange": true,
                        "searching": true,
                        "ordering": true,
                        "info": true,
                        "autoWidth": true
                    }
            );

        });
    </script>

    {% endverbatim %}

{% endblock extra_script %}