{% extends "public/base.html" %}
{% load i18n %}
{% block title %}{% trans 'Alliance Auth' %}{% endblock %}

{% block page_title %}{% trans 'Bounty Prizes' %}{% endblock page_title %}

{% block content %}
     {% load humanize %}

    <div class="col-lg-12">
        <h1 class="page-header text-center">{% trans 'Bounty Prizes'%} {{ corp }}</h1>
        <h2 class="sub-header"></h2>

        <div class="row">
            <div class="col-xs-6 col-sm-4">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{ corp }} <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        {% for corp in corps %}
                            <li><a href="/wallet/corp/stat/{{ corp.corporation_id }}">{{ corp }}</a></li>
                        {% endfor %}
                        <li class="divider"></li>
                        <li><a href="/wallet/corp/stat/">All</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4">
                <form class="form-inline" role="form" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <select class="form-control" name="type_period">
                            <option disabled>{% trans 'Select period' %}</option>
                            <option value="0">{% trans 'Current month' %}</option>
                            <option value="1">{% trans 'Last month' %}</option>
                            <option>{% trans 'All period' %}</option>

                        </select>
                        <button type="submit" class="btn btn-default">{% trans 'Submit' %}</button>
                    </div>
                </form>
            </div>
        </div>
        {% for name, list in summa %}
            <h4 class="sub-header">{{ name.user }}</h4>
            <div class="table-responsive">
            <table class="table table-striped table-hover table-condensed">
                <thead>
                <tr>
                    <th>{% trans 'Client' %}</th> {# Кто #}
                    <th>{% trans 'Systen' %}</th>
                    <th>{% trans 'Amount' %}</th>


                </tr>
                </thead>

                   {% for x, y in list %}
                    <tbody>
                        <td>{{ name }}</td>
                        <td>
                            {% if x == 'All' %}
                            {% trans 'Total' %}
                            {% else %}
                            {{ x.solar_system_name }}

                        {% endif %}
                        </td>
                        <td>{{ y|intword }}</td>
                    </tr>
                    </tbody>

                    {% endfor %}

            </table>
        </div>
    {% endfor %}
    </div>



{% endblock content %}
