{% extends 'dashboard/base.html' %}
{% load staticfiles humanize %}
{% load i18n %}
{% load new_tags %}

{% block extra_css %}
{#    <link rel="stylesheet" href="{% static "adminlte/bootstrap/css/bootstrap.min.css" %}">#}
{#    <!-- Font Awesome -->#}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">#}
{#    <!-- Ionicons -->#}
{#    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">#}
{#    <!-- fullCalendar 2.2.5-->#}
{#    <link rel="stylesheet" href="{% static "adminlte/plugins/fullcalendar/fullcalendar.min.css" %}">#}
{#    <link rel="stylesheet" href="{% static "adminlte/plugins/fullcalendar/fullcalendar.print.css" %}" media="print">#}
{#    <!-- Theme style -->#}
{#    <link rel="stylesheet" href="{% static "adminlte/dist/css/AdminLTE.min.css" %}">#}
{#    <!-- AdminLTE Skins. Choose a skin from the css/skins#}
{#         folder instead of downloading all of them to reduce the load. -->#}
{#    <link rel="stylesheet" href="{% static "adminlte/dist/css/skins/_all-skins.min.css" %}">#}
{#    <!-- iCheck -->#}
{#    <link rel="stylesheet" href="{% static "adminlte/plugins/iCheck/flat/blue.css" %}">#}
{##}
{#    <link rel="stylesheet" href="{% static "adminlte/bootstrap/css/bootstrap.min.css" %}">#}
{#    <!-- Font Awesome -->#}
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">#}
{#    <!-- Ionicons -->#}
{#    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">#}
{#    <!-- fullCalendar 2.2.5-->#}
{#    <link rel="stylesheet" href="{% static "adminlte/plugins/fullcalendar/fullcalendar.min.css" %}">#}
{#    <link rel="stylesheet" href="{% static "adminlte/plugins/fullcalendar/fullcalendar.print.css"  %}" media="print">#}
{#    <!-- Theme style -->#}
{#    <link rel="stylesheet" href="{% static "adminlte/dist/css/AdminLTE.min.css" %}">#}
{#    <!-- AdminLTE Skins. Choose a skin from the css/skins#}
{#         folder instead of downloading all of them to reduce the load. -->#}
{#    <link rel="stylesheet" href="{% static "adminlte/dist/css/skins/_all-skins.min.css" %}">#}
{#    <!-- iCheck -->#}
{#    <link rel="stylesheet" href="{% static 'adminlte/plugins/iCheck/flat/blue.css' %}">#}

{% endblock extra_css %}

{% block content %}

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-md-3">
              <a href="compose.html" class="btn btn-primary btn-block margin-bottom">Compose</a>
              <div class="box box-solid">
                <div class="box-header with-border">
                  <h3 class="box-title">Folders</h3>
                  <div class="box-tools">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div>
                </div>
                <div class="box-body no-padding">
                  <ul class="nav nav-pills nav-stacked">
                    <li><a href="mailbox.html"><i class="fa fa-inbox"></i> Inbox <span class="label label-primary pull-right">12</span></a></li>
                    <li><a href="#"><i class="fa fa-envelope-o"></i> Sent</a></li>
                    <li><a href="#"><i class="fa fa-file-text-o"></i> Drafts</a></li>
                    <li><a href="#"><i class="fa fa-filter"></i> Junk <span class="label label-warning pull-right">65</span></a></li>
                    <li><a href="#"><i class="fa fa-trash-o"></i> Trash</a></li>
                  </ul>
                </div><!-- /.box-body -->
              </div><!-- /. box -->
              <div class="box box-solid">
                <div class="box-header with-border">
                  <h3 class="box-title">Labels</h3>
                  <div class="box-tools">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div>
                </div>
                <div class="box-body no-padding">
                  <ul class="nav nav-pills nav-stacked">
                    <li><a href="#"><i class="fa fa-circle-o text-red"></i> Important</a></li>
                    <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> Promotions</a></li>
                    <li><a href="#"><i class="fa fa-circle-o text-light-blue"></i> Social</a></li>
                  </ul>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
            <div class="col-md-9">
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Read Mail</h3>
                  <div class="box-tools pull-right">
                    <a href="#" class="btn btn-box-tool" data-toggle="tooltip" title="Previous"><i class="fa fa-chevron-left"></i></a>
                    <a href="#" class="btn btn-box-tool" data-toggle="tooltip" title="Next"><i class="fa fa-chevron-right"></i></a>
                  </div>
                </div><!-- /.box-header -->
                <div class="box-body no-padding">
                  <div class="mailbox-read-info">
                    <h3>{{ message.title }}</h3>
                    <h5>{% character message.sender_id %}<span class="mailbox-read-time pull-right">{{ message.sent_date }}</span></h5>
                  </div><!-- /.mailbox-read-info -->
                  <div class="mailbox-controls with-border text-center">
                    <div class="btn-group">
                      <button class="btn btn-default btn-sm" data-toggle="tooltip" title="Delete"><i class="fa fa-trash-o"></i></button>
                      <button class="btn btn-default btn-sm" data-toggle="tooltip" title="Reply"><i class="fa fa-reply"></i></button>
                      <button class="btn btn-default btn-sm" data-toggle="tooltip" title="Forward"><i class="fa fa-share"></i></button>
                    </div><!-- /.btn-group -->
                    <button class="btn btn-default btn-sm" data-toggle="tooltip" title="Print"><i class="fa fa-print"></i></button>
                  </div><!-- /.mailbox-controls -->
                    <div class="mailbox-read-message">
                        {% autoescape off %}
                            {{ message.content }}
                        {% endautoescape %}

                  </div><!-- /.mailbox-read-message -->
                </div><!-- /.box-body -->

                  {% comment %}
                <div class="box-footer">
                  <ul class="mailbox-attachments clearfix">
                    <li>
                      <span class="mailbox-attachment-icon"><i class="fa fa-file-pdf-o"></i></span>
                      <div class="mailbox-attachment-info">
                        <a href="#" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> Sep2014-report.pdf</a>
                        <span class="mailbox-attachment-size">
                          1,245 KB
                          <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>
                        </span>
                      </div>
                    </li>
                    <li>
                      <span class="mailbox-attachment-icon"><i class="fa fa-file-word-o"></i></span>
                      <div class="mailbox-attachment-info">
                        <a href="#" class="mailbox-attachment-name"><i class="fa fa-paperclip"></i> App Description.docx</a>
                        <span class="mailbox-attachment-size">
                          1,245 KB
                          <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>
                        </span>
                      </div>
                    </li>
                    <li>
                      <span class="mailbox-attachment-icon has-img"><img src="../../dist/img/photo1.png" alt="Attachment"></span>
                      <div class="mailbox-attachment-info">
                        <a href="#" class="mailbox-attachment-name"><i class="fa fa-camera"></i> photo1.png</a>
                        <span class="mailbox-attachment-size">
                          2.67 MB
                          <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>
                        </span>
                      </div>
                    </li>
                    <li>
                      <span class="mailbox-attachment-icon has-img"><img src="../../dist/img/photo2.png" alt="Attachment"></span>
                      <div class="mailbox-attachment-info">
                        <a href="#" class="mailbox-attachment-name"><i class="fa fa-camera"></i> photo2.png</a>
                        <span class="mailbox-attachment-size">
                          1.9 MB
                          <a href="#" class="btn btn-default btn-xs pull-right"><i class="fa fa-cloud-download"></i></a>
                        </span>
                      </div>
                    </li>
                  </ul>
                </div><!-- /.box-footer -->
                <div class="box-footer">
                {% endcomment %}
                  <div class="pull-right">
                    <button class="btn btn-default"><i class="fa fa-reply"></i> Reply</button>
                    <button class="btn btn-default"><i class="fa fa-share"></i> Forward</button>
                  </div>
                  <button class="btn btn-default"><i class="fa fa-trash-o"></i> Delete</button>
                  <button class="btn btn-default"><i class="fa fa-print"></i> Print</button>
                </div><!-- /.box-footer -->
              </div><!-- /. box -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </section><!-- /.content -->


{#    <!-- jQuery 2.1.4 -->#}
{#    <script src="../../plugins/jQuery/jQuery-2.1.4.min.js"></script>#}
{#    <!-- Bootstrap 3.3.4 -->#}
{#    <script src="../../bootstrap/js/bootstrap.min.js"></script>#}
{#    <!-- Slimscroll -->#}
{#    <script src="../../plugins/slimScroll/jquery.slimscroll.min.js"></script>#}
{#    <!-- FastClick -->#}
{#    <script src="../../plugins/fastclick/fastclick.min.js"></script>#}
{#    <!-- AdminLTE App -->#}
{#    <script src="../../dist/js/app.min.js"></script>#}
{#    <!-- AdminLTE for demo purposes -->#}
{#    <script src="../../dist/js/demo.js"></script>#}
 {% endblock content %}

    {% block extra_script %}


{% comment %}
    <!-- jQuery 2.1.4 -->
    <script src="{% static 'adminlte/plugins/jQuery/jQuery-2.1.4.min.js' %}"></script>
    <!-- Bootstrap 3.3.4 -->
    <script src="{% static 'adminlte/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- Slimscroll -->
    <script src="{% static 'adminlte/plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'adminlte/plugins/fastclick/fastclick.min.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'adminlte/dist/js/app.min.js' %}"></script>
    <!-- iCheck -->
    <script src="{% static 'adminlte/plugins/iCheck/icheck.min.js' %}"></script>
    <!-- Page Script -->
        {% verbatim %}
    <script>
      $(function () {
        //Enable iCheck plugin for checkboxes
        //iCheck for checkbox and radio inputs
        $('.mailbox-messages input[type="checkbox"]').iCheck({
          checkboxClass: 'icheckbox_flat-blue',
          radioClass: 'iradio_flat-blue'
        });

        //Enable check and uncheck all functionality
        $(".checkbox-toggle").click(function () {
          var clicks = $(this).data('clicks');
          if (clicks) {
            //Uncheck all checkboxes
            $(".mailbox-messages input[type='checkbox']").iCheck("uncheck");
            $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
          } else {
            //Check all checkboxes
            $(".mailbox-messages input[type='checkbox']").iCheck("check");
            $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
          }
          $(this).data("clicks", !clicks);
        });

        //Handle starring for glyphicon and font awesome
        $(".mailbox-star").click(function (e) {
          e.preventDefault();
          //detect type
          var $this = $(this).find("a > i");
          var glyph = $this.hasClass("glyphicon");
          var fa = $this.hasClass("fa");

          //Switch states
          if (glyph) {
            $this.toggleClass("glyphicon-star");
            $this.toggleClass("glyphicon-star-empty");
          }

          if (fa) {
            $this.toggleClass("fa-star");
            $this.toggleClass("fa-star-o");
          }
        });
      });
    </script>
    {% endverbatim %}
    <!-- AdminLTE for demo purposes -->
    <script src="{% static 'adminlte/dist/js/demo.js' %}"></script>
{% endcomment %}
 {% endblock extra_script %}