{% extends "dashboard/base.html" %}
{% load i18n %}
{% load bootstrap %}
{% load staticfiles %}

{% block title %}{% trans 'Alliance Auth' %} - {% trans 'Timer Create' %}{% endblock %}

{% block page_title %}{% trans 'Timer Create' %}{% endblock page_title %}
{% block extra_css %}
    <link href="{% static 'css/jquery.datetimepicker.css' %}" rel="stylesheet" type="text/css">{% endblock extra_css %}

{% block content %}
    <div class="col-lg-12">
        <h1 class="page-header text-center">{% trans 'Create Timer' %}</h1>

        <div class="container-fluid">
            <div class="col-md-4 col-md-offset-4">
                <div class="row">
                        <form class="form-signin" role="form" action="" method="POST">
                            {% csrf_token %}
                            {{ form|bootstrap }}
                            <br/>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Create Timer' %}</button>
                        </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block extra_script %}

    $('#id_eve_time').datetimepicker({
    maskInput: true,
    format: 'Y-m-d H:i',minDate:0
    });

{% endblock extra_script %}
