{% load staticfiles %}
{% load i18n %}
{% load new_tags %}

<!-- Left side column. contains the logo and sidebar -->
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
            <div class="pull-left image">

                {% if authinfo.main_char_id %}
                    <img src="https://image.eveonline.com/Character/{{ authinfo.main_char_id.character_id }}_128.jpg" class="img-circle" alt="User Image">
                {% else %}
                    <img src={% static 'dist/img/who.png' %} class="img-circle" alt="User Image">

                {% endif %}
            </div>
            <div class="pull-left info">
                <p>{{ user.username }}</p>
                <p>{{ authinfo.main_char_id.character_name }}</p>
                <!-- Status -->
{#              <a href="#"><i class="fa fa-circle text-success"></i> Online</a>#}
            </div>
        </div>

{#          <!-- search form (Optional) -->#}
{#          <form action="#" method="get" class="sidebar-form">#}
{#            <div class="input-group">#}
{#              <input type="text" name="q" class="form-control" placeholder="Search...">#}
{#              <span class="input-group-btn">#}
{#                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>#}
{#              </span>#}
{#            </div>#}
{#          </form>#}
        <!-- /.search form -->

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
            <li class="header">{% trans 'Navigation' %}</li>
            <!-- Optionally, you can add icons to the links -->
         {% if  perms.auth.is_superuser %}
{# Тестовые ссылки, видят только супер юзеры            #}
{#            <li class="active"><a href="{% url 'evemail_all' %}"><i class="fa fa-link"></i> <span>Тест</span></a></li>#}
{#            <li><a href="http://127.0.0.1:8000/ru/admin"><i class="fa fa-link"></i> <span>Adminca</span></a></li>#}

        {% endif %}
            {% if request.path in the_url %}
                <li class="treeview active">
                    {% else %}
                <li class="treeview active">
            {% endif %}

            <a href="#"><i class="fa fa-link"></i> <span>{% trans 'Main Navigation' %}</span> <i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
                {% url 'auth_dashboard' as is_url %}

                <li {% ifequal request.path is_url %} class="active" {% endifequal %} >
                    <a   href="{% url 'auth_dashboard' %}">
                        <i class="fa fa-dashboard fa-fw grayiconecolor"></i>
                        {% trans 'Dashboard' %}
                    </a>
                </li>
                {% url 'auth_api_key_management' as is_url %}
                <li {% ifequal request.path is_url %} class="active" {% endifequal %} >
                    <a  href="{% url 'auth_api_key_management' %}">
                        <i class="fa fa-key fa-fw grayiconecolor"></i>
                        {% trans 'Api Keys' %}
                    </a>
                </li>
                {% url 'auth_characters' as is_url %}

                <li {% ifequal request.path is_url %} class="active" {% endifequal %} >
                    <a href="{% url 'auth_characters' %}">
                        <i class="fa fa-users fa-fw grayiconecolor"></i>
                        {% trans 'Characters' %}
                    </a>
                </li>
{% comment %}
                {% if  perms.auth.alliance_member %}
                    {% url 'auth_groups' as is_url%}
                    <li {% ifequal request.path is_url %} class="active" {% endifequal %} >
                        <a href="{% url 'auth_groups' %}">
                            <i class="fa fa-cogs fa-sitemap grayiconecolor"></i>
                            {% trans 'Groups' %}
                        </a>
                    </li>
                {% endif %}
                {% endcomment %}

                {% url 'wallet_jo' as is_url%}
                <li {% ifequal request.path is_url %} class="active" {% endifequal %} >
                    <a  href="{% url 'wallet_jo' %}">
                        <i class="fa fa-circle-o"></i>
                        {% trans 'Wallet journal' %}
                    </a>
                </li>
                {% url 'stat_wallet_view' as is_url%}
                <li {% ifequal request.path is_url %} class="active" {% endifequal %} >
                    <a  href="{% url 'stat_wallet_view' %}">
                        <i class="fa fa-circle-o"></i>
                        {% trans 'Wallet statistic' %}
                    </a>
                </li>
                {% url 'auth_help' as is_url%}
                <li {% ifequal request.path is_url %} class="active" {% endifequal %} >
                    <a href="{% url 'auth_help' %}">
                        <i class="fa fa-question fa-fw grayiconecolor"></i>
                        {% trans 'Help' %}
                    </a>
                </li>
            </ul>
            </li>

            <li class="treeview active">
                <a href="#"><i class="fa fa-link"></i> <span>{% trans 'Aux Navigation' %}</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    {% if  perms.auth.alliance_member or perms.auth.blue_member %}
                        {% url 'auth_services' as is_url%}
                        <li {% ifequal request.path is_url %} class="active" {% endifequal %}  >
                            <a href="{% url 'auth_services' %}">
                                <i class="fa fa-cogs fa-fw grayiconecolor"></i>
                                {% trans 'Alliance Services' %}
                            </a>
                        </li>
                    {% endif %}

                    {% if not perms.auth.alliance_member and not perms.auth.blue_member or perms.auth.human_resources %}
                        {% url 'auth_hrapplications_view' as is_url%}
                        <li {% ifequal request.path is_url %}
                            class="active" {% endifequal %} >
                            <a href="{% url 'auth_hrapplications_view' %}"><i
                                    class="fa fa-file-o fa-fw grayiconecolor"></i> {% trans 'Applications' %}</a>
                        </li>
                    {% endif %}
                    {% if perms.auth.corp_stats %}
                        {% url 'auth_corp_stats' as is_url%}
                        <li {% ifequal request.path is_url %} class="active" {% endifequal %} >
                            <a
                                    href="{% url 'auth_corp_stats' %}"><i
                                    class="fa fa-share-alt fa-fw grayiconecolor"></i> {% trans 'Corporation Stats' %}</a>
                        </li>
                    {% endif %}
{% comment %}

                    {% if perms.auth.group_management %}
                        {% url 'auth_group_management' as is_url%}
                        <li {% ifequal request.path is_url %} class="active" {% endifequal %} >
                            <a
                                    href="{% url 'auth_group_management' %}"><i
                                    class="fa fa-lock fa-sitemap grayiconecolor"></i> {% trans 'Group Management' %}</a>
                        </li>
                    {% endif %}

                    {% if  perms.auth.alliance_member or perms.auth.blue_member %}
                        {% url 'auth_fleet_fits' as is_url%}
                        <li {% ifequal request.path is_url %} class="active" {% endifequal %}>
                            <a
                                    href="{% url 'auth_fleet_fits' %}"><i
                                    class="fa fa-bolt fa-fw grayiconecolor"></i> {% trans 'Fleet Doctrines' %}</a>
                        </li>
                        {% url 'auth_timer_view' as is_url%}
                        <li {% ifequal request.path is_url %} class="active" {% endifequal %}>

                            <a
                                    href="{% url 'auth_timer_view' %}"><i
                                    class="fa fa-clock-o fa-fw grayiconecolor"></i> {% trans 'OP Timers' %}</a>
                        </li>

                        {% url 'auth_srp_management_view' as is_url%}
                        <li {% ifequal request.path is_url %} class="active" {% endifequal %}>

                            <a
                                    href="{% url 'auth_srp_management_view' %}"><i
                                    class="fa fa-money fa-fw grayiconecolor"></i> {% trans 'Ship Replacement' %}</a>
                        </li>

                    {% endif %}{% endcomment %}
                </ul>
            </li>


            <li class="treeview active">
                <a href="#"><i class="fa fa-link"></i> <span>{% trans 'Util' %}</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    {% url 'password_change' as is_url%}
                    <li {% ifequal request.path is_url %} class="active" {% endifequal %} >
                        <a
                                href="{% url 'password_change' %}"><i
                                class="fa fa-lock fa-fw grayiconecolor"></i>{% trans 'Change Password' %}</a>
                    </li>
{% comment %}
                    {% if  perms.auth.alliance_member or perms.auth.blue_member %}
                        {% url 'auth_fleet_format_tool_view' as is_url%}
                        <li {% ifequal request.path is_url %}
                            class="active" {% endifequal %} >
                            <a
                                    href="{% url 'auth_fleet_format_tool_view' %}"><i
                                    class="fa fa-space-shuttle fa-fw grayiconecolor"></i> {% trans 'Fleet Broadcast Formatter' %}</a>
                        </li>
                    {% endif %}

                    {% if perms.auth.jabber_broadcast %}
                        {% url 'auth_jabber_broadcast_view' as is_url%}
                        <li {% ifequal request.path is_url %}
                            class="active" {% endifequal %} >
                            <a href="{% url 'auth_jabber_broadcast_view' %}"><i
                                    class="fa fa-lock fa-bullhorn grayiconecolor"></i> {% trans 'Jabber Broadcast' %}</a>
                        </li>
                    {% endif %}{% endcomment %}
                </ul>
            </li>



        </ul><!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>