{% load i18n %}

{% load staticfiles %}
<style>
    html {
        background: url("{% static 'img/index_images/index_blank_bg.jpg' %}") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    div {
        height: 200px;
        width: 400px;
        position: fixed;
        top: 60%;
        left: 50%;
        margin-top: -100px;
        margin-left: -200px;
    }

</style>

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% trans 'Independent Union Eve Alliance' %}</title>
</head>
<body>
<div id="content">
    <p style="text-align:center">
        <a href="{% url 'auth_dashboard' %}">
            <img src="{% static 'img/index_images/auth.png' %}" border="0">
        </a>
    </p>

    <p style="text-align:center">
        <a href="https://forums.eveonline.com/default.aspx?g=posts&t=399668&find=unread">
            <img src="{% static 'img/index_images/forums.png' %}" border="0">
        </a>
    </p>

    <p style="text-align:center">
        <a> {#  href="/killboard/"> #}
            <img src="{% static 'img/index_images/killboard.png' %}" border="0">
        </a>
    </p>

    <p style="text-align:center">
        <a href="https://www.youtube.com/">
            <img src="{% static 'img/index_images/media.png' %}" border="0">
        </a>
    </p>
</div>
</body>
</html>