{% load staticfiles %}
{% load i18n %}
{% load bootstrap %}
<html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ ALLIANCE_NAME }} - {% trans 'Login' %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <style>
        html {
            height: 100%;
        }
        body {
            background: url('{% static 'img/index_images/index_blank_bg.jpg' %}') no-repeat scroll;
            background-size: 100% 100%;

        }

        .panel-transparent {
            background: rgba(48, 48, 48, 0.7);
            color: #ffffff;
        }

        .panel-body {

        }
    </style>
</head>
<body>
<div class="container" style="margin-top:150px">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default panel-transparent">

            <div class="panel-body">
                {% if error %}
                    <div class="alert alert-danger" role="alert">{% trans 'Username' %}/{% trans 'Password Invalid' %}</div>
                {% endif %}
                <a href="{% url 'auth_register_user' %}">
                    <button class="btn btn- btn-success btn-block">{% trans 'Register' %}</button>
                </a>

                <form class="form-signin" role="form" action="{% url 'auth_login_user' %}" method="POST">
                    {% csrf_token %}
                    <h2 class="form-signin-heading text-center">{% trans 'Please sign in' %}</h2>
                    {{ form|bootstrap }}
                    <div class="col-md-6">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans 'Sign in' %}</button>
                    </div>
                </form>
                <div class="col-md-6">
                    <a href="{% url 'password_reset' %}">
                        <button class="btn btn-lg btn-danger btn-block">{% trans 'Reset' %}</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
