

{% load staticfiles %}
{% load i18n %}
{% load new_tags %}
{% block navi %}


{% if user.is_authenticated %}
    <div id="wrapper">
        <!-- Navigation -->

        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">

            <div class="navbar-header ">
                <a class="navbar-brand ">
                    <div class="fa fa-cog fa-spin"></div>
                    {{ ALLIANCE_NAME }}
                </a>
            </div>

<ul class="navbar-header">
{% get_available_languages as languages %}
{% for lang_code, lang_name in languages %}
                {% language lang_code %}
                    <a href="{% change_lang lang_code %}">{{ lang_code }}</a>


                   {% endlanguage %}
{% endfor %}
            </ul>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'auth_logout_user' %}">{% trans 'Logout' %}</a></li>
                {% else %}
                    <li><a href="{% url 'auth_login_user' %}">{% trans 'Login' %}</a></li>
                {% endif %}
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="text-center divider-horizontal">
                            <h5>{% trans 'Main Navigation' %}</h5>
                        </li>

                        <li>
                            <a {% ifequal request.path "/dashboard/" %} class="active" {% endifequal %}
                                                                        href="{% url 'auth_dashboard' %}"><i
                                    class="fa fa-dashboard fa-fw grayiconecolor"></i> {% trans 'Dashboard' %}</a>
                        </li>

                        <li>
                            <a {% ifequal request.path "/api_key_management/" %} class="active" {% endifequal %}
                                                                                 href="{% url 'auth_api_key_management' %}"><i
                                    class="fa fa-key fa-fw grayiconecolor"></i> {% trans 'Api Keys' %}</a>
                        </li>

                        <li>
                            <a {% ifequal request.path "/characters/" %} class="active" {% endifequal %}
                                                                         href="{% url 'auth_characters' %}"><i
                                    class="fa fa-users fa-fw grayiconecolor"></i> {% trans 'Characters' %}</a>
                        </li>

                        {% if  perms.auth.alliance_member %}
                            <li>
                                <a {% ifequal request.path "/groups/" %} class="active" {% endifequal %}
                                                                         href="{% url 'auth_groups' %}"><i
                                        class="fa fa-cogs fa-sitemap grayiconecolor"></i> {% trans 'Groups' %}</a>
                            </li>
                        {% endif %}
                    <li>
                            <a {% ifequal request.path "/wallet/journal/" %} class="active" {% endifequal %}
                                                                         href="{% url 'wallet_jo' %}"><i
                                    ></i>  {% trans 'Wallet journal' %}</a>
                        </li>
                    <li>
                            <a {% ifequal request.path "/wallet/statistic/" %} class="active" {% endifequal %}
                                                                         href="{% url 'stat_wallet_view' %}"><i
                                    ></i>  {% trans 'Wallet statistic' %}</a>
                        </li>










                        <li>
                            <a {% ifequal request.path "/help/" %} class="active" {% endifequal %}
                                                                   href="{% url 'auth_help' %}"><i
                                    class="fa fa-question fa-fw grayiconecolor"></i> {% trans 'Help' %}</a>
                        </li>


                        <li class="text-center divider-horizontal">
                            <h5>{% trans 'Aux Navigation' %}</h5>
                        </li>
                        {% if  perms.auth.alliance_member or perms.auth.blue_member %}
                            <li>
                                <a {% ifequal request.path "/services/" %} class="active" {% endifequal %}
                                                                           href="{% url 'auth_services' %}"><i
                                        class="fa fa-cogs fa-fw grayiconecolor"></i> {% trans 'Alliance Services' %}</a>
                            </li>
                        {% endif %}

                        {% if not perms.auth.alliance_member and not perms.auth.blue_member or perms.auth.human_resources %}
                            <li>
                                <a {% ifequal request.path "/hr_application_management/" %}
                                    class="active" {% endifequal %}
                                    href="{% url 'auth_hrapplications_view' %}"><i
                                        class="fa fa-file-o fa-fw grayiconecolor"></i> {% trans 'Applications' %}</a>
                            </li>
                        {% endif %}

                        {% if perms.auth.corp_stats %}
                            <li>
                                <a {% ifequal request.path "/corporation_stats" %} class="active" {% endifequal %}
                                                                                   href="{% url 'auth_corp_stats' %}"><i
                                        class="fa fa-share-alt fa-fw grayiconecolor"></i> {% trans 'Corporation Stats' %}</a>
                            </li>
                        {% endif %}

                        {% if perms.auth.group_management %}
                            <li>
                                <a {% ifequal request.path "/user/group_management/" %} class="active" {% endifequal %}
                                                                                        href="{% url 'auth_group_management' %}"><i
                                        class="fa fa-lock fa-sitemap grayiconecolor"></i> {% trans 'Group Management' %}</a>
                            </li>
                        {% endif %}

                        {% if  perms.auth.alliance_member or perms.auth.blue_member %}
							<li>
                                <a {% ifequal request.path "/fits" %} class="active" {% endifequal %}
                                                                                  href="{% url 'auth_fleet_fits' %}"><i
                                        class="fa fa-bolt fa-fw grayiconecolor"></i> {% trans 'Fleet Doctrines' %}</a>
                            </li>
                            <li>
                                <a {% ifequal request.path "/timer_management" %} class="active" {% endifequal %}
                                                                                  href="{% url 'auth_timer_view' %}"><i
                                        class="fa fa-clock-o fa-fw grayiconecolor"></i> {% trans 'OP Timers' %}</a>
                            </li>


                            <li>
                                <a {% ifequal request.path "/srp/" %} class="active" {% endifequal %}
                                                                      href="{% url 'auth_srp_management_view' %}"><i
                                        class="fa fa-money fa-fw grayiconecolor"></i> {% trans 'Ship Replacement' %}</a>
                            </li>

                        {% endif %}


                        <li class="text-center divider-horizontal">
                            <h5>{% trans 'Util' %}</h5>
                        </li>
                        <li>
                            <a {% ifequal request.path "/user/password/" %} class="active" {% endifequal %}
                                                                            href="{% url 'password_change' %}"><i
                                    class="fa fa-lock fa-fw grayiconecolor"></i>{% trans 'Change Password' %}</a>
                        </li>

                        {% if  perms.auth.alliance_member or perms.auth.blue_member %}
                            <li>
                                <a {% ifequal request.path "/tool/fleet_formatter_tool/" %}
                                    class="active" {% endifequal %}
                                    href="{% url 'auth_fleet_format_tool_view' %}"><i
                                        class="fa fa-space-shuttle fa-fw grayiconecolor"></i> {% trans 'Fleet Broadcast Formatter' %}</a>
                            </li>
                        {% endif %}

                        {% if perms.auth.jabber_broadcast %}
                            <li>
                                <a {% ifequal request.path "/services/jabber_broadcast/" %}
                                    class="active" {% endifequal %} href="{% url 'auth_jabber_broadcast_view' %}"><i
                                        class="fa fa-lock fa-bullhorn grayiconecolor"></i> {% trans 'Jabber Broadcast' %}</a>
                            </li>
                        {% endif %}
                    </ul>

                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
       </div>
    {% endif %}

{% endblock navi %}